  <div class="form-group">
    <%= form.label :first_name, 'First Name *' %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :last_name, 'Last Name *' %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :affiliation %>
    <%= form.text_area :affiliation, class: "form-control", size: "60x12" %>
  </div>
  <div class="form-group">
    <%= form.label :email, 'Email *' %>
    <%= form.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :mailing_address %>
    <%= form.text_area :mailing_address, class: "form-control", size: "60x12" %>
  </div>
  <div class="form-group">
    <%= form.label :phone_fax_numbers %>
    <%= form.text_area :phone_fax_numbers, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :website %>
    <%= form.text_field :website, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :countries_of_specialization %>
    <%= form.text_area :countries_of_specialization, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :education %>
    <%= form.text_area :education, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :research_interests %>
    <%= form.text_area :research_interests, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :teaching_interests %>
    <%= form.text_area :teaching_interests, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :publications, 'Publications *' %>
    <%= form.text_area :publications, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :keywords %>
    <%= form.text_field :keywords, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :optional_message, "Optional Message To AMESA Administrators" %>
    <%= form.text_area :optional_message, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :submitter_email, "Recommender's Email (Leave blank if you are submitting/editing your own entry)" %>
    <%= form.text_field :submitter_email, class: "form-control" %>
  </div>
