<% unless CONFIGS[:search_engine] == 'none' %>
  <div class="card card-small">
    <% case CONFIGS[:search_engine] %>
    <% when 'gcs' %>
      <% # use Google Custom Search Element %>
      <div class="gcse-searchbox-only" data-resultsUrl="<%= gcs_search_path %>"></div>
    <% when 'names_db' %>
      <% # search the first_name and last_name columns in the db %>
      <%= form_with url: search_path, method: :get, local: true do |form| %>
        <%= form.text_field :search_term, placeholder: t('search_field_placeholder'), style: "float:left;width:50%" %>
        <%= form.submit t('action_buttons.search'), style: "float:right;" %>
      <% end %>
    <% else %>
      <% # default to searching the names in the db %>
      <%= form_with url: search_path, method: :get, local: true do |form| %>
        <%= form.text_field :search_term, placeholder: t('search_field_placeholder'), style: "float:left;width:50%" %>
        <%= form.submit t('action_buttons.search'), style: "float:right;" %>
      <% end %>
    <% end %>
  </div>
<% end %>
