<div class="card sidebar-nav">
  <ul class="nav flex-column">
    <li class="nav-header">AMESA</li>
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/pages/about">About AMESA</a></li>
    <li class="nav-item"><%= link_to 'Submit A New Entry', new_scholar_path %></li>
    <li class="nav-header">View Scholars</li>
    <li class="nav-item"><a href="/scholars">All Regions</a></li>
    <li class="nav-item"><%= link_to "Africa", by_regions_path(id: '1') %></li>
    <li class="nav-item"><%= link_to "Middle East", by_regions_path(id: '2') %></li>
    <li class="nav-item"><%= link_to "South Asia", by_regions_path(id: '3') %></li>
    <% if user_signed_in? && ADMINS.exclude?(current_user.uid) %>
      <li class="nav-header">User</li>
    <% else %>
      <li class="nav-header">Admin</li>
    <% end %>
    <%= unless user_signed_in?
          content_tag(:li,
                      link_to("Login", new_user_session_path),
                      class: "nav-item")
        else
          content_tag(:li,
                      link_to("Logout (#{current_user.uid})", destroy_user_session_path),
                      class: "nav-item")
    end %>
    <% if user_signed_in? && ADMINS.include?(current_user.uid) %>
      <li class="nav-item"><%= link_to "Pending Scholars", pending_scholars_path %></li>
      <li class="nav-item"><%= link_to "Pending Scholar Edits", scholar_edits_path %></li>
      <li class="nav-item"><%= link_to "Manage Countries", countries_path %></li>
      <li class="nav-item"><%= link_to "Manage Regions", regions_path %></li>
    <% end %>
    <li class="nav-header">Language</li>
    <li class="nav-item language-select">
      <form id="eng_form" action="/scholars/index/middle_east" method="post">
	<fieldset>
	  <input type="hidden" name="site_language" value="eng" />
	  <input type="submit" value="English" class="btn btn-sm active"/>
	</fieldset>
      </form>
    </li>
    <li class="nav-item language-select">
      <form id="fra_form" action="/scholars/index/middle_east" method="post">
	<fieldset>
	  <input type="hidden" name="site_language" value="fra" />
	  <input type="submit" value="Français" class="btn btn-sm" disabled />
	</fieldset>
      </form>
    </li>
  </ul>
</div>
