<div class="card sidebar-nav">
  <ul class="nav flex-column">
    <li class="nav-header">AMESA</li>
    <%= content_tag(:li, link_to(t('sidebar.home'), root_path), class: 'nav-item') %>
    <%= content_tag(:li, link_to(t('sidebar.about_amesa'), pages_about_path), class: 'nav-item') %>
    <% if CONFIGS[:submit_new_scholar] %>
      <%= content_tag(:li, link_to(t('sidebar.submit_a_new_entry'), new_scholar_path), class: 'nav-item') %>
    <% end %>
    <%= content_tag(:li, t('sidebar.view_scholars_header'), class: 'nav-header') %>
    <%= content_tag(:li, link_to(t('sidebar.all_regions'), scholars_path), class: 'nav-item') %>
    <%= content_tag(:li, link_to(t('sidebar.africa'), by_regions_path(id: '1')), class: 'nav-item') %>
    <%= content_tag(:li, link_to(t('sidebar.middle_east'), by_regions_path(id: '2')), class: 'nav-item') %>
    <%= content_tag(:li, link_to(t('sidebar.south_asia'), by_regions_path(id: '3')), class: 'nav-item') %>
    <% if user_signed_in? && CONFIGS[:admins].exclude?(current_user.uid) %>
      <li class="nav-header">User</li>
    <% else %>
      <li class="nav-header">Admin</li>
    <% end %>
    <%= unless user_signed_in?
          content_tag(:li,
                      link_to(t('sidebar.login'), new_user_session_path),
                      class: "nav-item")
        else
          content_tag(:li,
                      link_to("#{t('sidebar.logout')} (#{current_user.uid})", destroy_user_session_path),
                      class: "nav-item")
    end %>
    <% if amesa_admin_privs? %>
      <%= content_tag(:li, link_to(t('sidebar.admin.pending_scholars'), pending_scholars_path), class: 'nav-item') %>
      <%= content_tag(:li, link_to(t('sidebar.admin.pending_scholar_edits'), scholar_edits_path), class: 'nav-item') %>
      <%= content_tag(:li, link_to(t('sidebar.admin.country_manager'), countries_path), class: 'nav-item') %>
      <%= content_tag(:li, link_to(t('sidebar.admin.region_manager'), regions_path), class: 'nav-item') %>
    <% end %>
    <li class="nav-header">Language</li>
    <div class="language-actions">
      <%= content_tag(:li, link_to('English',
                                   url_for(locale: :en, id: params[:id], scholar_id: params[:scholar_id])),
                      class: 'nav-item btn-sm') %>
      <%= content_tag(:li, link_to('Français',
                                   url_for(locale: :fr, id: params[:id], scholar_id: params[:scholar_id])),
                      class: 'nav-item btn-sm') %>
    </div>
  </ul>
</div>
