<%= render partial: 'banner' %>
<div class="row home-page">
  <div class="col">
    <%= render partial: 'home_about' %>
  </div>
  <div class="col">
    <%= render partial: 'home_search' %>
  </div>
  <div class="col">
    <%= render partial: 'home_join' %>
  </div>
  <div class="col">
    <%= render partial: 'home_contact' %>
  </div>
</div>
