<p id="notice"><%= notice %></p>

<h1>Scholars</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Region of study</th>
      <th>Primary country of residence</th>
      <th>Title</th>
      <th>Affiliation</th>
      <th>Email</th>
      <th>Mailing address</th>
      <th>Phone fax numbers</th>
      <th>Website</th>
      <th>Countries of specialization</th>
      <th>Education</th>
      <th>Research interests</th>
      <th>Teaching interests</th>
      <th>Publications</th>
      <th>Keywords</th>
      <th>Optional message</th>
      <th>Submitter email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scholars.each do |scholar| %>
      <tr>
        <td><%= scholar.first_name %></td>
        <td><%= scholar.last_name %></td>
        <td><%= scholar.region_of_study %></td>
        <td><%= scholar.primary_country_of_residence %></td>
        <td><%= scholar.title %></td>
        <td><%= scholar.affiliation %></td>
        <td><%= scholar.email %></td>
        <td><%= scholar.mailing_address %></td>
        <td><%= scholar.phone_fax_numbers %></td>
        <td><%= scholar.website %></td>
        <td><%= scholar.countries_of_specialization %></td>
        <td><%= scholar.education %></td>
        <td><%= scholar.research_interests %></td>
        <td><%= scholar.teaching_interests %></td>
        <td><%= scholar.publications %></td>
        <td><%= scholar.keywords %></td>
        <td><%= scholar.optional_message %></td>
        <td><%= scholar.submitter_email %></td>
        <td><%= link_to 'Show', scholar %></td>
        <td><%= link_to 'Edit', edit_scholar_path(scholar) %></td>
        <td><%= link_to 'Destroy', scholar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scholar', new_scholar_path %>
