<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @scholar.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @scholar.last_name %>
</p>

<p>
  <strong>Region of study:</strong>
  <%= @scholar.region_of_study %>
</p>

<p>
  <strong>Primary country of residence:</strong>
  <%= @scholar.primary_country_of_residence %>
</p>

<p>
  <strong>Title:</strong>
  <%= @scholar.title %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @scholar.affiliation %>
</p>

<p>
  <strong>Email:</strong>
  <%= @scholar.email %>
</p>

<p>
  <strong>Mailing address:</strong>
  <%= @scholar.mailing_address %>
</p>

<p>
  <strong>Phone fax numbers:</strong>
  <%= @scholar.phone_fax_numbers %>
</p>

<p>
  <strong>Website:</strong>
  <%= @scholar.website %>
</p>

<p>
  <strong>Countries of specialization:</strong>
  <%= @scholar.countries_of_specialization %>
</p>

<p>
  <strong>Education:</strong>
  <%= @scholar.education %>
</p>

<p>
  <strong>Research interests:</strong>
  <%= @scholar.research_interests %>
</p>

<p>
  <strong>Teaching interests:</strong>
  <%= @scholar.teaching_interests %>
</p>

<p>
  <strong>Publications:</strong>
  <%= @scholar.publications %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @scholar.keywords %>
</p>

<p>
  <strong>Optional message:</strong>
  <%= @scholar.optional_message %>
</p>

<p>
  <strong>Submitter email:</strong>
  <%= @scholar.submitter_email %>
</p>

<%= link_to 'Edit', edit_scholar_path(@scholar) %> |
<%= link_to 'Back', scholars_path %>
