<div class="scholar-actions">
  <%= link_to t('action_buttons.delete'), @scholar, method: :delete,
                                 data: { confirm: 'Are you sure?' },
                                 class: 'btn-sm btn-danger float-right' if amesa_admin_privs?
      %>
  <% if amesa_admin_privs? %>
    <%= link_to t('action_buttons.edit'), edit_scholar_path, class: "btn-sm float-right" %>
  <% elsif CONFIGS[:submit_scholar_edit] %>
    <%= link_to(t('action_buttons.submit_an_edit'),
                new_scholar_edit_path(scholar_id: @scholar.id),
                class: "btn-sm float-right")
    %>
  <% end %>
</div>
<h2 class="scholar-name"><%= @scholar.first_name %> <%= @scholar.last_name %></h2>
<table class="table table-bordered">
  <tbody>
    <% @field_names_values.each do |name, value| %>
         <%= content_tag :tr do
            content_tag(:td, name) +
            content_tag(:td, simple_format(value))
          end unless value.blank? %>
    <% end %>
</table>
