<p id="notice"><%= notice %></p>
<h1>Regions</h1>
<%= link_to 'New Region', new_region_path, class: 'btn' %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name (English)</th>
      <th>Name (French)</th>
      <th>URL Formatted Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name_eng %></td>
        <td><%= region.name_fra %></td>
        <td><%= region.url_formatted_name %></td>
        <td class="view-region">
	  <%= link_to 'View Region', region_path(region.id), class: 'btn' %>
	  <%= link_to 'Edit Region', edit_region_path(region.id), class: 'btn' %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
