<hr>
<p class="submitter-msg"><strong>Message from edit submitter:</strong> <%= @scholar_edit.optional_message %></p>
<p>* <%= t('scholar_form.required_field_msg') %></p>
<%= form_with(model: scholar, local: true) do |form| %>
  <%= render partial: 'shared/scholar_form_errors', locals: {form: form, scholar: scholar} %>
  <%= render partial: 'shared/scholar_form_common_select_fields', locals: {form: form, select_from_model: :scholar_edit} %>
  <%= render partial: 'shared/scholar_form_common_text_fields', locals: {form: form} %>
  <%= form.hidden_field(:scholar_id, value: @scholar_edit.scholar_id) %>
  <div class="actions">
    <%= form.submit submit_text %>
  </div>
<% end %>
