<h1>New ScholarEdit</h1>
<h3>Start Debug Info</h3>
<p>id is <%= @scholar_edit.id %></p>
<p>scholar_id is <%= @scholar_edit.scholar_id %></p>
<p>region_id is <%= @scholar_edit.region_id %></p>
<p>country_id is <%= @scholar_edit.country_id %></p>
<p>created_at is <%= @scholar_edit.created_at %></p>
<p>updated_at is <%= @scholar_edit.updated_at %></p>
<h3>End Debug Info</h3>

<%= render 'form', scholar: @scholar_edit %>

<%= link_to 'Back', scholars_path %>
