<!DOCTYPE html>
<html>
  <head>
    <% title_scholar = @scholar ? "#{@scholar.first_name} #{@scholar.last_name} - " : '' %>
    <title><%= title_scholar %>AMESA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Not sure I need the following stylesheet_pack_tag, one video tutorial said was needed for production-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://cse.google.com/cse.js?cx=018287035770092225683:42ir2lrct5u"></script>
    <%= render partial: 'google_analytics' if Rails.env.amesa_prod? %>
  </head>
  <body>
    <div style="text-align:center;">
      <a href="https://library.columbia.edu">
	<%= image_tag "legacy_branding.png", height: "50" %>
      </a>
    </div>
    <div id="amesa-container" class="main-container container">
      <hr>
      <div class="row">
	<div class="col-2 sidebar">
	  <%= render partial: 'shared/sidebar' %>
	</div>
	<div class="col-10">
	  <%= render partial: 'shared/search_field' %>
	  <p id="notice"><%= notice %></p>
	  <% if amesa_admin_privs? %>
            <p id="notice">Your are currently logged in as an adminstrator.</p>
	  <% end %>
	  <%= yield %>
	</div>
      </div>
    </div>
  </body>
</html>
