<!DOCTYPE html>
<html>
  <head>
    <title>LdpdAmesa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Not sure I need the following stylesheet_pack_tag, one video tutorial said was needed for production-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="main-container container">
      <div class="row">
	<div class="col-2 sidebar">
	  <%= render partial: 'shared/sidebar' %>
	</div>
	<div class="col-10">
	  <%= render partial: 'shared/search' %>
	  <%= render partial: 'banner' %>
	  <%= yield %>
	</div>
      </div>
    </div>
  </body>
</html>
